{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">
    <div class="card h-100">
      <div class="card-header">Pending Approvals</div>
      <div class="card-body">
        {% with card='pending' %}
          {% include 'partials/dashboard/_cards.html' %}
        {% endwith %}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-header">Mandatory Reading</div>
      <div class="card-body">
        {% with card='mandatory' %}
          {% include 'partials/dashboard/_cards.html' %}
        {% endwith %}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-header">Recent Changes</div>
      <div class="card-body">
        {% with card='recent' %}
          {% include 'partials/dashboard/_cards.html' %}
        {% endwith %}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-header">Search Shortcuts</div>
      <div class="card-body">
        {% with card='shortcuts' %}
          {% include 'partials/dashboard/_cards.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
