{% extends "layout.html" %}
{% block title %}Document Search{% endblock %}
{% block content %}
<h1>Search Documents</h1>
<form method="get" class="row g-2">
  <div class="col-md-2"><input class="form-control" name="title" placeholder="Title" value="{{ filters.title or '' }}"></div>
  <div class="col-md-2"><input class="form-control" name="code" placeholder="Code" value="{{ filters.code or '' }}"></div>
  <div class="col-md-2"><input class="form-control" name="tags" placeholder="Tags" value="{{ filters.tags or '' }}"></div>
  <div class="col-md-2"><input class="form-control" name="department" placeholder="Department" value="{{ filters.department or '' }}"></div>
  <div class="col-md-2"><input class="form-control" name="process" placeholder="Process" value="{{ filters.process or '' }}"></div>
  <div class="col-md-2"><button class="btn btn-primary w-100" type="submit">Search</button></div>
</form>
<ul class="mt-3">
{% for doc in results %}
  <li>{{ doc.title }} ({{ doc.code }}) - {{ doc.department }} - {{ doc.process }} - {{ doc.tags }}</li>
{% else %}
  <li>No results found.</li>
{% endfor %}
</ul>
{% endblock %}
