{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<h1>Search Documents</h1>
<form hx-get="{{ url_for('search_view') }}" hx-target="#search-results" hx-push-url="true" class="row g-2 mb-3">
  <div class="col-md-10"><input class="form-control" type="search" name="q" placeholder="Keyword" value="{{ keyword or '' }}"></div>
  <div class="col-md-2"><button class="btn btn-primary w-100" type="submit">Search</button></div>
</form>
<div id="search-results">
  {% include 'search/results.html' %}
</div>
{% endblock %}
